
.row{
	
	/*margin-top: 150px;*/
	text-align: left;
}

.btn {
	width: 100px;
}



.alignm {
	background-color: #b1b1b1;
	opacity: 0.9;
	height: 425px;

}

.form-group {
		max-width: 300px;
	}

@media only screen and (max-width: 667px){
	body {
	background-image: url("../img/rsm2.jpg");
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	}
	.alignm {
		max-width: 768px;
		opacity: 0.9;
		height: 700px;
	}

	.form-group {
		max-width: 350px;
	}
}

@media only screen and (max-width: 1024px) and (max-device-width: 1366px){
	body {
	background-image: url("../img/rsm2.jpg");
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	}
	.alignm {
		max-width: 500px;
		opacity: 0.9;
		height: 600px;
	}

	.form-group {
		max-width: 350px;
	}
	.masthead {
		position: static;
	}
	.mastfoot {
		position: static;
	}
}