

body {
	background-image: url("../img/rsm2.jpg");
	background-position: center;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

h3, h1{
	font-family: 'Yesteryear', cursive;
	font-size: 26px;
}

h1 {
		font-size: 32px;
}

.lead {
	text-shadow: 0 3px 3px rgba(0,0,0,.9);
}

@media only screen and (max-width: 667px){
	div .mob {margin-top: 60px;}
	
}
@media only screen and (max-width: 768px){
	div .mob {margin-top: 60px;}
	
}

@media only screen and (max-width: 1024px){
	body {
	background-image: url("../img/rsm2.jpg");
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	}
	.mob {max-width: 700px; margin: 0 auto;}
	div .mob{margin-top: 100px; margin-bottom: 80px;}
	.form-control { margin: 0 auto; }
}


.carousel {
	margin-top: 100px;
}

#displayer{ max-height:300px;}
		.thumbs{list-style: none;}
		li{ display: inline-block;}
		li img{ max-width:50px;}

.box{
	 background-color: black;
	 opacity: 0.75;
	margin-top: 100px;
}

.alignm {
	margin-top: 50px;
}
.mob{
	background-color: #b1b1b1;
	opacity: .9;
	padding: 2px 0px 2px 0px;
	height: 450px;
}

input {
	padding-left: 20px;
}


